/* ==================================================
  HEADER
================================================== */
.logo-img {
  object-fit: contain;
}

.header-action-icon {
  width: 45px;
  height: 45px;
}

/* ==================================================
  BANNER
================================================== */
/* Chỉnh kích thước Indicators cho màn hình lớn */
.carousel-indicators .custom-dot {
  width: 10px !important;
  height: 10px !important;
}

/* Chỉnh kích thước Indicators cho mobile */
@media (max-width: 767.98px) {
  .carousel-indicators .custom-dot {
    width: 6px !important;
    height: 6px !important;
    margin: 0 3px;
  }
}
/* Xử lý con trỏ chuột */
#carousel-banner {
  cursor: grab;
}

#carousel-banner:active {
  cursor: grabbing;
}

/* Kích thước chiều cao slide mặt định */
.carousel-item {
  height: auto;
}

/* Chỉnh kích thước cho ảnh trong banner */
.carousel-item > img {
  position: static;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* ==================================================
  SECTION ONE
================================================== */
/* Gradient đổ từ xanh nhạt xuống trắng cho */
.section-one {
  background: linear-gradient(to bottom, #ebf2fb 0%, #ffffff 80%);
  min-height: 100vh;
}

/* Container cuộn ngang */
.drag-scroll {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

/* Các thẻ sản phẩm */
.drag-scroll > div {
  scroll-snap-align: start;
}

/* Ẩn thanh cuộn mặc định trên webkit */
.drag-scroll::-webkit-scrollbar {
  display: none;
}

.section-one .card {
  transform: scale(0.9);
  opacity: 0.5;
  transition:
    transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.8s ease-out,
    box-shadow 0.3s ease;
}

/* Kích thước mặc định dành cho Điện thoại  */
.product-item {
  width: 200px;
}

.product-item img {
  height: 140px !important;
}

/* Kích thước dành cho Máy tính bảng */
@media (min-width: 768px) {
  .product-item {
    width: 240px;
  }

  .product-item img {
    height: 160px !important;
  }
}

/* Kích thước dành cho Desktop */
@media (min-width: 992px) {
  .product-item {
    width: 280px;
  }

  .product-item img {
    height: 180px !important;
  }
}

.section-one .card.in-view {
  transform: scale(1);
  opacity: 1;
}

/* Hiệu ứng hover cho card */
.section-one .card.in-view:hover {
  transform: scale(1) translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12) !important;
  cursor: pointer;
}

/* Hiệu ứng nút button */
.section-one .card .btn {
  transition: all 0.3s ease;
}

/* Hiệu ứng hover thêm giỏ hàng */
.section-one .card .btn.root-bg-three:hover {
  background-color: #113a99 !important;
}

/* Hiệu ứng hover mua ngay */
.section-one .card .btn.root-bg-text-one:hover {
  background-color: #cc5617 !important;
}
